<h1>A Show Page for the Ages</h1>
<br>
<h2><%= @student_attribute.first_name %> <%= @student_attribute.last_name %></h2>

<br>
<h3>Attributes</h3>
<p>Email: <%= @student_attribute.email %></p>
<p>Phone Number: <%= @student_attribute.phone_number %></p>
<p>Short Bio: <%= @student_attribute.short_bio %></p>
<p>LinkedIn: <%= @student_attribute.linkedin %></p>
<p>Twitter: <%= @student_attribute.twitter %></p>
<p>Blog Site: <%= @student_attribute.blog_site %></p>
<p>Resumé: <%= @student_attribute.resume %></p>
<p>Github: <%= @student_attribute.github %></p>
<p>photo: <%= @student_attribute.photo %></p>

<br>
<h3>Capstones</h3>
<% counter = 0 %>
<% @capstone_array.each do |capstone| %>
  <% counter += 1 %>
  <h4>Capstone <%= counter %></h4>
  <p>Name: <%= capstone.name %></p>
  <p>Description: <%= capstone.description %></p>
  <p>URL: <%= link_to "#{capstone.url}", "#{capstone.url}" %></p>
  <p>Screenshot: <%= capstone.screenshot %></p>
<% end %>

<br>
<h3>Education</h3>
<% counter = 0 %>
<% @education_array.each do |education| %>
  <% counter += 1 %>
  <h4>Education <%= counter %></h4>
  <p>Start Date: <%= education.start_date %></p>
  <p>End Date: <%= education.end_date %></p>
  <p>Degree: <%= education.degree %></p>
  <p>University Name: <%= education.university_name%></p>
  <p>Details: <%= education.details %></p>
  <br>
<% end %>

<br>
<h3>Experience</h3>
<% counter = 0 %>
<% @experience_array.each do |experience| %>
  <% counter += 1 %>
  <h4>Experience <%= counter %></h4>
  <p>Start Date: <%= experience.start_date %></p>
  <p>End Date: <%= experience.end_date %></p>
  <p>Details: <%= experience.details %></p>
  <p>Job Title: <%= experience.job_title %></p>
  <br>
<% end %>


<br>
<h3>Skills</h3>