<h1>A Show Page for the Ages</h1>
<br>
<h2><%= @student_attribute.first_name %> <%= @student_attribute.last_name %></h2>

<br>
<h3>Attributes</h3>
<p>Email: <%= @student_attribute.email %></p>
<p>Phone Number: <%= @student_attribute.phone_number %></p>
<p>Short Bio: <%= @student_attribute.short_bio %></p>
<p>LinkedIn: <%= @student_attribute.linkedin %></p>
<p>Twitter: <%= @student_attribute.twitter %></p>
<p>Blog Site: <%= @student_attribute.blog_site %></p>
<p>Resumé: <%= @student_attribute.resume %></p>
<p>Github: <%= @student_attribute.github %></p>
<p>photo: <%= @student_attribute.photo %></p>

<br>
<h3>Capstones</h3>

<br>
<h3>Education</h3>

<br>
<h3>Experience</h3>

<br>
<h3>Skills</h3>