<h1>Index of skills</h1


<%= form_tag '/education/#{@user.id}', method: :patch do %>
  <div>
    <%= label_tag :start_date %>
    <%= text_field_tag :start_date %>
  </div>
  <div>
    <%= label_tag :end_date %> 
    <%= text_field_tag :end_date %>
  </div>
  <div>
    <%= label_tag :degree %>
    <%= text_field_tag :degree %>
  </div>
  <div>
    <%= label_tag :university_name %>
    <%= text_field_tag :university_name %>
  </div>
  <div>
    <%= label_tag :details %>
    <%= text_field_tag :details %>
  </div>

  <%= submit_tag "Add New Education" %>

<% end %>